*{
    margin: 0;
    padding: 0;
}
body{
    width: 100dvw;
    height: 100dvh;
    background-color: pink;
}
@media (min-width:480px){
    .container{
        display: flex;
        /* overflow: hidden; */
    }
    .container .left{
        width: 50%;
    }
    .container .left img{
        width:50%;
        margin-left: 20%;
        margin-top: 20%;
    }
    .container .left h2{
        margin-left: 25%;
    }
    .container .right{
        width: 45%;
        height: 75dvh;
    }
    .container .right .login{
        width: 65%;
        margin-left: 10%;
        margin-top: 20%;
        padding-bottom: 5%;
        border: none;
        border-radius: 10px;
        box-shadow: 0vh 1.5dvw 4dvh 0.1dvh rgb(143, 142, 142);
        overflow: hidden;
        min-height: 0px;
    }
    .container .right .login form{
        padding-top: 3dvh;
        padding-bottom: 3dvh;
        display: flex;
        flex-direction: column;
        gap:3dvh;
        align-items: center;
        min-width: 0px;
    }
    .container .right .login form input{
        height: 7dvh;
        width: 25dvw;
        border: 0.5px solid rgba(143, 142, 142,0.6);
        border-radius: 10px;
        text-align: center;
        outline: none;
    }
    .container .right .login form input:focus{
        border: 1px solid #1877f2;
    }
    .container .right .login form #log{
        padding: 4px 5px;
        width: 25.5dvw;
        background-color: #1877f2;
        color: white;
        font-weight: bold;
        font-size: 18px;
        border: 0.5px solid rgba(143, 142, 142,0.6);
        border-radius: 10px;
    }
    .container .right .login form #newac{
        padding: 4px 5px;
        width: 15dvw;
        background-color: #42b72a;
        color: white;
        font-weight: bold;
        font-size: 16px;
        border: 0.5px solid rgba(143, 142, 142,0.6);
        border-radius: 10px;
    }
    
    .container .right .login form a{
        text-decoration: none;
    }
    .container .right .cp{
        margin-left: 10%;
        display: inline-block;
    }    
    .container .right .cp a{
        text-decoration: none;
        color: black;
        font-weight: bold;

    }
}
@media (max-width:480px){
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container .left{
        width: 50%;
    }
    .container .left img{
        width:60%;
        margin-left: 20%;
        margin-top: 20%;
    }
    .container .left h2{
        margin-left: 25%;
        display: none;
    }
    .container .right{
        width: 95%;
        height: 75dvh;
    }
    .container .right .login{
        width: 95%;
        margin-left: 3%;
        margin-top: 5%;
        padding-bottom: 5%;
        border: none;
        border-radius: 10px;
        box-shadow: 0vh 1.5dvw 4dvh 0.1dvh rgb(143, 142, 142);
        overflow:auto;
        min-width: 0px;
    }
    .container .right .login form{
        padding-top: 3dvh;
        padding-bottom: 1dvh;
        width:100%;
        display: flex;
        flex-direction: column;
        gap:2dvh;
        align-items: center;
    }
    .container .right .login form input{
        height: 7dvh;
        width: 85%;
        border: 0.5px solid rgba(143, 142, 142,0.6);
        border-radius: 10px;
        text-align: center;
        outline: none;
    }
    .container .right .login form input:focus{
        border: 1px solid #1877f2;
    }
    .container .right .login form #log{
        padding: 4px 5px;
        width: 85%;
        background-color: #1877f2;
        color: white;
        font-weight: bold;
        font-size: 18px;
        border: 0.5px solid rgba(143, 142, 142,0.6);
        border-radius: 10px;
    }
    .container .right .login form #newac{
        padding: 4px 0px;
        width: 65%;
        background-color: #42b72a;
        color: white;
        font-weight: bold;
        font-size: 16px;
        border: 0.5px solid rgba(143, 142, 142,0.6);
        border-radius: 10px;
    }
    
    .container .right .login form a{
        text-decoration: none;
    }
    .container .right .cp{
        margin-left: 10%;
        display: inline-block;
    }    
    .container .right .cp a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
}